<nav class="row col-md-12" style="
            top:0;
            position:sticky;
            z-index:5;
            background-color: rgb(39, 81, 163);">
        <!--offcanvas-->
        <div id="offcanvas" class="m-3 col-5" style="margin-left: 50px !important;">
              <%- include('../partials/offcanvas') %>
        </div>
        <div class="col-5 m-1">
            <a href="/admin" style="text-decoration: none;">
            <img src="/img/Screenshot_2023-07-16_231317-removebg-preview (1) 2.png" alt="" style="width: 60px;
            height: 63.077px;">
            <span class="navbar-brand text-light" style="font-size: 20px;">Neuromer</span>
            </a>
        </div>
        
    </nav>