
<nav class="row col-md-12 d-flex justify-content-between" style="
            top:0;
            position:sticky;
            z-index:5;
            background-color: rgb(39, 81, 163);">
        <!--offcanvas-->
        <div id="offcanvas" class="m-3 col-4" style="margin-left: 50px !important;">
              <%- include('../partials/offcanvas') %>
        </div>
        <div class="col-4 m-1">
            <a href="/admin" style="text-decoration: none;">
            <img src="/img/Screenshot_2023-07-16_231317-removebg-preview (1) 2.png" alt="" style="width: 60px;
            height: 63.077px;">
            <span class="navbar-brand text-light" style="font-size: 20px;">Neuromer</span>
            </a>
        </div>
        <div class="col-2 m-1 d-flex align-items-center justify-content-end">
          <div class="dropdown ">
  <button class="btn btn-secondary dropdown-toggle bg-primary " type="button" data-bs-toggle="dropdown" aria-expanded="false">
   <%= name+" "+surname %>
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/admin/logout">Log Out</a></li>
  </ul>
</div>
        </div>
        
    </nav>