<footer style="color: rgb(39, 81, 163); font-family: 'Poppins', sans-serif">
      <div
        class="bg-light"
        style="
          
          background-image: url('/img/ongoingslide.png');
          opacity: 0.8;
          height: 400px;
        "
      >
        <div class="row col-md-12">
          <div
            class="row col-md-6"
            style="
              background-color: white;
              margin: 1rem 0.5rem 1rem 1rem;
              padding: 2rem;
              border-radius: 10px;
              opacity: 1;
            "
          >
            <h3 class="text-center">Stay Informed with Our Medical Insights</h3>
            <p class="text-center">
              Subscribe to receive the latest news, research, and updates from
              the world of medical breakthroughs
            </p>
            <div class="d-flex justify-content-center">
              <div class="input-group w-auto">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Your email"
                  aria-label="Example input"
                  aria-describedby="button-addon1"
                  style="max-width: 500px"
                />
                <button
                  class="btn btn-primary"
                  type="button"
                  id="button-addon1"
                  data-mdb-ripple-color="dark"
                >
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center text-lg-start text-light">
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3 col-md-12">
              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-4">
                <img
                  src="/img/neurolog.png"
                  alt=""
                  style="max-width:15rem"
                />
                <p style="margin-bottom: 3px">+90 507 184 45 77</p>
                <p>
                  <a hef="neuromerorganization@gmail.com" style="font-size: 12px;"
                    >neuromerorganization@gmail.com</a
                  >
                </p>
                <div class="social-links row d-flex justify-content-center" style="color: rgb(39, 81, 163)">
                  <a
                    class="col-1"
                    href="https://www.youtube.com/@NEUROMER"
                    target="_blank"
                    style="text-decoration: none; color: rgb(39, 81, 163)"
                    ><i class="fa-brands fa-youtube col-1"></i
                  ></a>
                  <a
                    class="col-1"
                    href="https://www.instagram.com/neuromerorg/"
                    target="_blank"
                    style="text-decoration: none; color: rgb(39, 81, 163)"
                    ><i class="fa-brands fa-instagram col-1"></i
                  ></a>
                  <a
                    class="col-1"
                    href="https://www.linkedin.com/company/neuromer/"
                    target="_blank"
                    style="text-decoration: none; color: rgb(39, 81, 163)"
                    ><i class="fa-brands fa-linkedin"></i
                  ></a>
                  
                </div>
              </div>

              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Company</h6>
                <div class="list-links">
                  <p>
                    <a href="/aboutus" class="text-reset">About us</a>
                  </p>
                  <p>
                    <a href="/events" class="text-reset">News</a>
                  </p>
                  <p>
                    <a href="/ongoingresearch" class="text-reset"
                      >Ongoing research</a
                    >
                  </p>
                  <p>
                    <a href="/publication" class="text-reset"
                      >Publication</a
                    >
                  </p>
                </div>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Committees</h6>
                <div class="list-links">
                  <p>
                    <a href="/committee-executive" class="text-reset"
                      >Executive</a
                    >
                  </p>
                  <p>
                    <a href="/committee-public-rel" class="text-reset"
                      >Public Relations</a
                    >
                  </p>
                  <p>
                    <a href="/committee-minorities" class="text-reset"
                      >Minorities in Neurology and Neurosurgery</a
                    >
                  </p>
                  <p>
                    <a href="/committee-women" class="text-reset"
                      >Women in Neurosurgery</a
                    >
                  </p>
                  <p>
                    <a href="/committee-neuro-res" class="text-reset"
                      >Neurological Research</a
                    >
                  </p>
                  <p>
                    <a href="/committee-neuro-surg" class="text-reset"
                      >Neurosurgical Research</a
                    >
                  </p>
                  <p>
                    <a href="/committee-neuro-train" class="text-reset"
                      >Neurosurgical Training</a
                    >
                  </p>
                </div>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Ongoing Research</h6>
                <div class="list-links">
                  <p>
                    <a href="/onresearch-mult-scle">Multiple Sclerosis</a>
                  </p>
                  <p>
                    <a href="/onresearch-alzhe">Alzheimer's Disease</a>
                  </p>
                  <p>
                    <a href="/onresearch-spinal">Spinal Neurosurgery</a>
                  </p>
                </div>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>

        <!-- Copyright -->
        <div
          class="text-center p-4"
          style="background-color: rgba(0, 0, 0, 0.025)"
        >
          © 2023 All rights reserved.
          <a class="text-reset fw-bold" href="/">Neuromer.</a>
        </div>
      </div>

      <!-- Copyright -->
    </footer>