<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ruwudu:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
      <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
    <style>
      a {
        text-decoration: none;
        color: rgb(39, 81, 163);
      }
      .list-link p {
        line-height: 13px;
      }
      footer p,
      footer h6,
      footer div {
        color: rgb(39, 81, 163);
      }
      .fa-brands {
        height: 60px;
      }
      .team4 {
	color: #8d97ad;
  font-weight: 300;
}

.team4 h1, .team4 h2, .team4 h3, .team4 h4, .team4 h5, .team4 h6 {
  color: #3e4555;
}

.team4 .font-weight-medium {
	font-weight: 500;
}

.team4 h5 {
    line-height: 22px;
    font-size: 18px;
}

.team4 .subtitle {
    color: #8d97ad;
    line-height: 24px;
		font-size: 13px;
}

.team4 ul li a {
  color: #8d97ad;
  padding-right: 15px;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.team4 ul li a:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
	color: #316ce8;
}
.img-fluid{
    width: 300px;
    height: 287.5px;
    object-fit: cover;
}
@media (max-width:767px){
  .row.slider{
    font-size: 10px;
  }
  .row.slider img{
    width: 120px;
    height: 100px;
  }
  .row.slider h5{
    font-size: 12px;
    text-align: justify;
    font-weight: bold;
    line-height: 12px;
    margin-top: 2px !important;
    margin-bottom: 8px !important;
  }
  .row.slider h6{
    font-size: 10px;
    line-height: 12px;
    font-weight:500;
  }
  
}
    </style>
</head>

<body>
    <%- include('../partials/nav') %>
  <div class="container" style="font-family: 'Poppins';">
    <br><br><br>
    <h2 style="font-family: 'Lora'; text-align: center; font-weight: bold;">Multiple Sclerosis Research</h2>
      <br>
      <p>The Multiple Sclerosis Research Team, the branch of the Neuromer Research Team, will bring together undergraduate, 
        graduate and doctorate students to conduct scientific research on Multiple Sclerosis. The Multiple Sclerosis Research 
        Team provides a broad student network in the Multiple Sclerosis field.</p>
        <br>
        <div class="row">
          <div class="col-md-7">
        <h5 style="font-weight: 600;">Research</h5>
        <p>As the Multiple Sclerosis Research Team, we intend to connect with experts in neuroimmunology and write research articles. With the guidance of our mentor, we aim to take part in review and original research articles.</p>
        <h5 style="font-weight: 600;">Article Writing</h5>
        <p>We will learn the tricks of writing articles from experienced students and adapt it to article works together.</p>
        <h5 style="font-weight: 600;">Article Meetings</h5>
        <p>The Multiple Sclerosis Research Team will follow current developments in the field of Multiple Sclerosis. We will read topical articles published in high-impact journals. We will develop new hypotheses in our meetings where scientific articles are reviewed.</p>
        <h5 style="font-weight: 600;"> Laboratory Experience</h5>
        <p>We want to be a part of clinical and laboratory studies with our consultant who offers a new perspective on disease pathology in the field of Multiple Sclerosis. Our aim is to apply for projects for TÜBİTAK, TUSEB or international programs by catching internship experience in the laboratory of our advisor.</p>
      </div>
      <div class="col-md-5" style="height: 500px; width: 500px;">
        <img src="/img/imgimg.jpg" alt="" style="height: 500px; width: 500px; object-fit: cover;">
      </div>
    </div>
    <h5 style="font-weight: 600;">Who can apply to the Multiple Sclerosis Research Team?</h4>
      <p>All medical students who are interested in Multiple Sclerosis, volunteer and hardworking in academic research can apply to the Multiple Sclerosis Research Team. After the evaluation process, you can be a part of our team.</p>
        <div class="row">
        <div class="col-md-6 p-3" style="right: 0;">
          <h5 style="font-weight: 600;">Associate Professor Serkan Demir</h5>
          <p>Our mentor: Assoc. Prof. Serkan DEMİR
            Associate Professor Serkan Demir is the advisor of the Multiple Sclerosis Research Team. Assoc. Dr. Serkan Demir 
            graduated from Gülhane Military Medical Academy, Faculty of Medicine in 2006. Between 2009-2013, he completed his 
            specialty training in neurology at GATA Haydarpaşa Training and Research Hospital. In 2019, he received the title of 
            associate professor at SBU Sultan 2. Abdulhamid Han Training and Research Hospital. Associate Professor Serkan Demir 
            was invited to Martyr Prof. Dr. İlhan Varank Sancaktepe Training and Research Hospital to establish a training clinic 
            and he is still working as the neurology clinic chief. He conducts clinical and experimental studies on Multiple Sclerosis 
            (MS), neuroimmunology and cerebrovascular diseases. He was the editor of “MS Reference, MS Patient Guide books and 
            applications - Child Neurological Examination book” and author of chapters in many neurological books. He is a member 
            of the Board of Directors of the Turkish MS Association responsible for projects. For the first time in the literature, 
            he discussed the effects of COVID-19 in cohort studies with MS patients in Turkey. At the same time, targeting different 
            therapeutic agents on MS and studies aiming to increase the quality of life of patients with MS are among his original 
            researches. In addition, it participated in the European Academy of Neurology Congress 2023, held in Budapest this year, 
            with 4 original researches. His highly cited articles published in national and international journals, his partnerships 
            with international researchers, and the contribution of our advisor to the field of MS once again reveal.</p>

        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 p-3" style="left: 0;">
          <br><br>
          <img src="/img/serkan-demir.jpeg" alt="" style="height: 400px;">
        </div>
      </div>
      <br><br>
      <div class="py-5 team4" id="multip-sclero">
        <div class="container">
          <div class="row justify-content-center mb-4">
            <div class="col-md-7 text-center">
              <h3 class="mb-3" style="font-weight: bold;">Team Members
              </h3>
              <h6 class="subtitle">Unlocking insights at the intersection of neurosurgery and neuroscience, our team combines exceptional features and seamless customer service for an unparalleled experience</h6>
            </div>
          </div>
          <div class="row slider">
            <div class="col-lg-3 mb-4"
              style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border:none; margin-right: 20px;">
              <!-- Row -->
              <div class="row">
                <div class="col-md-12 pro-pic">
                  <img src="/img/image43.png" alt="wrapkit" class="img-fluid" />
                </div>
                <div class="col-md-12">
                  <div class="pt-2" style="margin-left: 15px;">
                    <h5 class="mt-4 font-weight-medium mb-0">Habiba Eyvazova</h5>
                    <h6 class="subtitle">Researcher
                    </h6>
                    <p>3rd year medical student at University of Health Sciences</p>
                    <ul class="list-inline">
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-behance"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Row -->
            </div>
            <div class="col-lg-3 mb-4"
              style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border:none; margin-right: 20px;">
              <!-- Row -->
              <div class="row">
                <div class="col-md-12 pro-pic">
                  <img src="/img/image34.png" alt="wrapkit" class="img-fluid" />
                </div>
                <div class="col-md-12">
                  <div class="pt-2" style="margin-left: 15px;">
                    <h5 class="mt-4 font-weight-medium mb-0">Asli Sisman
                    </h5>
                    <h6 class="subtitle">Researcher</h6>
                    <p>4th year medical student at University of Health Science
                    </p>
                    <ul class="list-inline">
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-behance"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Row -->
            </div>
            <div class="col-lg-3 mb-4"
              style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border:none; margin-right: 20px;">
              <div class="row">
                <div class="col-md-12 pro-pic">
                  <img src="/img/image32.jpg" alt="wrapkit" class="img-fluid" />
                </div>
                <div class="col-md-12" style="height: 190px;">
                  <div class="pt-2" style="margin-left: 15px;">
                    <h5 class="mt-4 font-weight-medium mb-0">Irshad Allahverdiyev</h5>
                    <h6 class="subtitle">Researcher</h6>
                    <p> 2nd year medical student at Istanbul University Faculty of Medicine</p>
                    <ul class="list-inline">
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-behance"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 mb-4"
              style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border:none; margin-right: 20px;">
              <!-- Row -->
              <div class="row">
                <div class="col-md-12 pro-pic">
                  <img src="/img/image11.png" alt="wrapkit" class="img-fluid" />
                </div>
                <div class="col-md-12">
                  <div class="pt-2" style="margin-left: 15px;">
                    <h5 class="mt-4 font-weight-medium mb-0">Halit Ayish</h5>
                    <h6 class="subtitle">Researcher</h6>
                    <p>4th year medical student at University of Health Science
                    </p>
                    <ul class="list-inline">
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-behance"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Row -->
            </div>
            <div class="col-lg-3 mb-4"
              style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border:none; margin-right: 20px;">
              <!-- Row -->
              <div class="row">
                <div class="col-md-12 pro-pic">
                  <img src="/img/image23.png" alt="wrapkit" class="img-fluid" />
                </div>
                <div class="col-md-12">
                  <div class="pt-2" style="margin-left: 15px;">
                    <h5 class="mt-4 font-weight-medium mb-0">Ceren Korkmaz</h5>
                    <h6 class="subtitle">Researcher</h6>
                    <p>4th year medical student at Çukurova University </p>
                    <ul class="list-inline">
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-behance"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Row -->
            </div>
            <div class="col-lg-3 mb-4"
              style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border:none; margin-right: 20px;">
              <!-- Row -->
              <div class="row">
                <div class="col-md-12 pro-pic">
                  <img src="/img/image29.png" alt="wrapkit" class="img-fluid" />
                </div>
                <div class="col-md-12">
                  <div class="pt-2" style="margin-left: 15px;">
                    <h5 class="mt-4 font-weight-medium mb-0">Furkan Melik Karaduman</h5>
                    <h6 class="subtitle">Researcher</h6>
                    <p>3rd year medical student at Istanbul University
                    </p>
                    <ul class="list-inline">
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-behance"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Row -->
            </div>
            <div class="col-lg-3 mb-4"
              style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border:none; margin-right: 20px;">
              <!-- Row -->
              <div class="row">
                <div class="col-md-12 pro-pic">
                  <img src="/img/image2.png" alt="wrapkit" class="img-fluid" />
                </div>
                <div class="col-md-12">
                  <div class="pt-2" style="margin-left: 15px;">
                    <h5 class="mt-4 font-weight-medium mb-0">Neslihan Betul Kandilcik</h5>
                    <h6 class="subtitle">Researcher</h6>
                    <p>2nd year medical student at University of Health Sciences</p>
                    <ul class="list-inline">
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-behance"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Row -->
            </div>
            <div class="col-lg-3 mb-4"
              style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border:none; margin-right: 20px;">
              <!-- Row -->
              <div class="row">
                <div class="col-md-12 pro-pic">
                  <img src="/img/image42.png" alt="wrapkit" class="img-fluid" />
                </div>
                <div class="col-md-12">
                  <div class="pt-2" style="margin-left: 15px;">
                    <h5 class="mt-4 font-weight-medium mb-0">Betul Alhasoghlu </h5>
                    <h6 class="subtitle">Researcher</h6>
                    <p>4th year medical student at University of Health Sciences </p>
                    <ul class="list-inline">
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i
                            class="icon-social-behance"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Row -->
            </div>
          </div>
          <div class="row">
            <div class="col-5"></div>
            <i class="bi bi-chevron-left prev-arrow col-1">
            </i><i class="bi bi-chevron-right next-arrow col-1"></i>
            <div class="col-5"></div>
          </div>
        </div>
      </div>
      <br>
      
        <br><br><br>

  </div>
    <%- include('../partials/footer') %>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
  </script>
  <script src="https://kit.fontawesome.com/0187bb1c04.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js">
  </script>
  <script>
    $('.slider').slick({
      infinite: true,
      slidesToShow: 4,
      slidesToScroll: 1,
      prevArrow: $('.prev-arrow'),
      nextArrow: $('.next-arrow')
    });
  </script>
</body>

</html>